* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --foreground: #f8f8f2;
  --blue: #8080ff;
  --cyan: #80ffea;
  --green: #8aff80;
  --orange: #ffca80;
  --pink: #ff80bf;
  --purple: #9580ff;
  --red: #ff9580;
  --yellow: #ffff80;
  --background: #22212c;
  --comment: #7970a9;
  --selection: #454158;
}